<div class="row tag-cloud">
    {% if (activeTag) %}
        <a class="col-auto tag" href="/">
            <span>&#10005;</span>
        </a>
    {% endif %}

    {% for tag in tags %}
        {% if (tag.tag == activeTag) %}
            <div class="col-auto tag active">
                <span>{{ tag.tag }}</span>
            </div>
        {% else %}
            <a class="col-auto tag" href="/?tag={{ tag.tag }}">
                <span>{{ tag.tag }}</span>
            </a>
        {% endif %}
    {% endfor %}
</div>

{% for post in posts %}
    <div class="row post">
        <div class="col-auto created">[{{ post.created | date("d.m.Y H:i") }}]</div>
        <div class="col-auto author">juliaaan1@home</div>
        <div class="col-auto tag">{{ post.tag }}</div>
        <div class="col-auto title">{{ post.title }}</div>
        <div class="text">{{ post.text | nl2br }}</div>
    </div>
{% endfor %}